mixin table(subjects)
  link(rel='stylesheet', href='/stylesheets/resetSchedule.css')
  link(rel='stylesheet', href='/stylesheets/styleSchedule.css')
  div(class="cd-schedule loading")
    div(class="timeline")
      ul
        li
          span 8:00
        li
          span 8:30
        li
          span 9:00
        li
          span 9:30
        li
          span 10:00
        li
          span 10:30
        li
          span 11:00
        li
          span 11:30
        li
          span 12:00
        li
          span 12:30
        li
          span 13:00
        li
          span 13:30
        li
          span 14:00
        li
          span 14:30
        li
          span 15:00
        li
          span 15:30
        li
          span 16:00
        li
          span 16:30
        li
          span 17:00
    div(class="events")
      ul
        li(class="events-group")
          div(class="top-info")
            span Lunes
          ul
            each subject in subjects
              - var name = subject.name
              - var color = subject.color
                each schedule in subject.schedule
                  if (schedule.day == "Lunes")
                    li(class="single-event" data-start=schedule.start data-end=schedule.end data-event=color)
                      a(href="#0" class="notUnderline")
                        em(class="event-name") #{name}
                        
        li(class="events-group")
          div(class="top-info")
            span Martes
          ul
            each subject in subjects
              - var name = subject.name
              - var color = subject.color
                each schedule in subject.schedule
                  if (schedule.day == "Martes")
                    li(class="single-event" data-start=schedule.start data-end=schedule.end data-event=color)
                      a(href="#0" class="notUnderline")
                        em(class="event-name") #{name}
                        
        li(class="events-group")
          div(class="top-info")
            span Miércoles
          ul
            each subject in subjects
              - var name = subject.name
              - var color = subject.color
                each schedule in subject.schedule
                  if (schedule.day == "Miercoles")
                    li(class="single-event" data-start=schedule.start data-end=schedule.end data-event=color)
                      a(href="#0" class="notUnderline")
                        em(class="event-name") #{name}
                        
        li(class="events-group")
          div(class="top-info")
            span Jueves
          ul
            each subject in subjects
              - var name = subject.name
              - var color = subject.color
                each schedule in subject.schedule
                  if (schedule.day == "Jueves")
                    li(class="single-event" data-start=schedule.start data-end=schedule.end data-event=color)
                      a(href="#0" class="notUnderline")
                        em(class="event-name") #{name}
                        
        li(class="events-group")
          div(class="top-info")
            span Viernes
          ul
            each subject in subjects
              - var name = subject.name
              - var color = subject.color
                each schedule in subject.schedule
                  if (schedule.day == "Viernes")
                    li(class="single-event" data-start=schedule.start data-end=schedule.end data-event=color)
                      a(href="#0" class="notUnderline")
                        em(class="event-name") #{name}
          
    div(class="cover-layer")
              
