mixin button(btnClass, btnText, icon)
  div(class="form-group")
    div(class="col-md-10 col-md-offset-5")
      if (icon)
        button(type="submit", class=btnClass)
          span(class=icon) #{btnText}
      else
        button(type="submit", class=btnClass) #{btnText}
