mixin checkbox(name, value, text, check)
  div(class="checkbox")
    label
      if (check)
        input(type="checkbox" name=name value=value checked) 
      else
        input(type="checkbox" name=name value=value)
      p #{text}
